.userImgWall img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.topLevel {
  position: relative;
}
.topLevel .preferences {
  position: absolute;
  right: 0;
  top: 0;
}
.topLevel .media-heading {
  line-height: 40px;
}
.card {
  margin-bottom: 20px;
}
.card .panel {
  margin-bottom: 0;
}
.media .content {
  font-weight: normal;
}
.wall-entry-controls {
  list-style: none;
  margin-top: 5px;
}
.wallStream .media {
  overflow: visible;
}
